.lisitings{
    min-width: 270px;
    margin: 0 25px 25px 0;
    background-color: #ebecf0;
    border-radius: 3px;
    padding: 7px;
    height: -moz-fit-content;
    height: fit-content;

    h2{
      font-size: 14px;
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .example-list {
    border: none;
    min-height: 21px;
    overflow: hidden;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // background-color: #fff;
    border-radius: 3px;
    // box-shadow: 0 1px 0 #091e4240;
  }
  .add-new{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  .example-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: move;
    font-size: 14px;
    margin-bottom: 8px;
    background-color: #fff;
    // height: 32px;
    padding: 6px 8px 2px;
    p:first-child{
      width: 90%;
      margin: 0; 
    }
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag.example-box{
    border-radius: 4px !important;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


  .section-heading {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .drag-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: #E9ECEF;
    padding: 15px;
    border-radius: 5px;
  }
  
  .item-list {
    min-height: 60px;
    border-radius: 4px;
    display: block;
  }
  
  .item-box {
    padding: 8px 10px;
    border: solid 1px #ccc;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-radius: 20px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
  }
  
  .cdk-drag-placeholder {
    // opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .list-groups{
    padding-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 100vh;
  }

  .delete:hover {
    cursor: pointer;
  }

  .row{
    height: 100%;
    overflow-y: scroll;
  }

  .mat-icon{
    // display: none;
    font-size: 20px;
    height: auto;
    width: auto;
    transition: 1s;
  }
  .example-box:hover .mat-icon{
    display: block;
    transition: 1s;
  }

  .top-part{
    display: flex;

    mat-icon{
      cursor: pointer;
    }
  }
  
  .bottom-part{
    display: flex;
    justify-content: space-between;
    align-items: center;

    mat-icon{
      cursor: pointer;
    }
  }

  .add-list{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
  }

  .add-new-list{
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
  }

  .menu-drop{
    width: 25px;
    height: 25px;
    min-width: auto;
  }

  .tasks mat-icon{
    opacity: 0;
    transition: 0.1s !important;
  }
  .tasks:hover mat-icon{
    opacity: 1;
  }

  .lisitings:last-child{
    background: #ffffff3d;
    color: #fff;
  }

  ::placeholder {
    font-size: 12px;
  }

  .add-task{
    background-color: #0079bf;
    border: none;
    box-shadow: none;
    color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3px;
    cursor: pointer;
  }
  .input-task{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline: none;
    height: 26px;
    border: 1px solid #ede3e3;
  }

  .card-form .mat-form-field{
    width: 100%;
  }

  .cls-modal{
    position: absolute;
    top: 10px;
  }

  .modal{
    background: #00000091;
  }

  // html, body{
  //   overflow-y: hidden !important;
  //   position: relative !important;
  // }