<div class="container">
    <div class="row">
        <div class="container" cdkDropListGroup>
            <div class="example-container" *ngFor="let list of data">
                <h2>{{list.type}}</h2>

                <div cdkDropList id="{{list.index}}" [cdkDropListData]="list.cards" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let card of list.cards" class="example-box" cdkDrag
                        [class.item__moved]="card.originalProjectName !== list.projectName">
                        {{card.title}}
                        <button (click)="deleteListing(card.id)">Delete</button>
                    </div>
                </div>
                <div class="add-new" (click)="addNew(list.index)" *ngIf="!addNewTodo">Add New</div>
                <div *ngIf="addNewTodo">
                    <input type="text" [(ngModel)]="newTask">
                    <button (click)="submitTask(list.id)">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>