<div class="container">
    <div class="row">
        <div class="list-groups" cdkDropListGroup>
            <div class="lisitings" *ngFor="let list of data">
                <div class="top-part">
                    <h2>{{list.type}}</h2>
                    <button mat-button [matMenuTriggerFor]="menu" class="menu-drop"><mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="deleteListingCard(list.id)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                          </button>
                    </mat-menu>
                </div>

                <div cdkDropList id="{{list.index}}" [cdkDropListData]="list.cards" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let card of list.cards" class="example-box tasks" cdkDrag
                        [class.item__moved]="card.originalProjectName !== list.projectName">
                        {{card.title}}
                        <mat-icon class="delete" (click)="deleteListing(card.id)">close</mat-icon>
                    </div>
                </div>
                <div class="add-new" (click)="addNew(list.index)" *ngIf="!addNewTodo">Add New</div>
                <div *ngIf="addNewTodo" [id]=list.index>
                    <input type="text" [(ngModel)]="newTask">
                    <button (click)="submitTask(list.id)">Add</button>
                </div>
            </div>






            <div class="lisitings">
                <div class="top-part">
                    <h2>Add New List</h2>
                    <mat-icon (click)="openAddNewList()" *ngIf="!showAddNewListForm">add_circle</mat-icon>
                </div>
                <div *ngIf="showAddNewListForm">
                    <form [formGroup]="addNewListForm">
                        <input formControlName="type" placeholder="Enter list title..." class="add-list">
                    </form>
                </div>

                <div class="bottom-part" *ngIf="showAddNewListForm">
                    <div class="add-new-list" (click)="addNewList(addNewListForm.value)">Add list</div>  
                    <div>
                        <mat-icon (click)="closeAddNewList()">close</mat-icon>
                    </div>  
                </div>     
            </div>

        </div>
    </div>
</div>