<div class="user">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon style="color: #fff;">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>people</mat-icon>
            <span>{{user.name}}</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
        </button>
    </mat-menu>
</div>

<div class="all-boards">
    <div class="boards">
        <div *ngFor="let board of boards" class="board">
            <mat-card class="card">
                <div class="title" (click)="goToBoard(board.id)">
                    <mat-card-title >{{board.title}}</mat-card-title>
                </div>

                <!-- DELETE BOARD -->
                <div class="menu">
                    <button mat-menu-item (click)="deleteBoard(board.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
        
        <div>
            <mat-card class="card last" (click)="openPopup()">
                <div class="title">
                    <mat-card-title>Add New Board</mat-card-title>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="addNewBoardForm">
            <input formControlName="title">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
        <button class="btn btn-success" (click)="addNewBoard(addNewBoardForm.value)">Add New Board</button>
      </div>
    </div>
  </div>
</div>


