::ng-deep body{
    padding: 20px;
}

.card{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .title{
        cursor: pointer;
    }
    .mat-menu-item .mat-icon {
        position: absolute;
        top: 0;
        right: -18px;
    }
}

.mat-icon-button{
    line-height: 0;
    height: 40px;
    margin-top: -40px;
    position: absolute;
    width: auto;
    right: 20px;
    top: 50px;
}

.mat-card-title{
    font-size: 18px;
}

.user{
    float: right;
}

.all-boards{
    height: 100%;
    overflow-y: scroll;
    
    .boards{
        display: flex;
    }

    .board{
        margin-left: 10px;
        margin-right: 10px;
        .menu{
            height: 30px !important;

            .mat-menu-item{
                height: 100%;
            }
        }
    }
}

.modal{
    background: #0000008f;
}

.card.last{
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #9381FF;
    border-color: #9381FF;
}

.btn-danger {
    background-color: transparent;
    border-color: transparent;
    color: #000;
}

.board-title{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}