<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="content">
        <div class="form">
            <p>
                <label for="lastname">Name </label><br>
                <input type="text" formControlName="name">
            </p>
            <p>
                <label for="lastname">Email </label><br>
                <input type="text" formControlName="email" email>
            </p>
            <p>
                <label for="lastname">Password </label><br>
                <input type="password" formControlName="password">
            </p>
            <p>
                <label for="lastname">Password Confirmation</label><br>
                <input type="password" formControlName="password_confirmation">
            </p>
        </div>
        <div class="buttons">
            <button class="register" [disabled]="!registerForm.valid">Register</button>
        </div>
        <p class="create">You already have an account? <span routerLink="/login">Login</span></p>
    </div>

</form>
